[Unit]
  Description=Netflow to squid-log file translator
  After=network.target
 
[Service]
  ExecStart=/usr/local/bin/gomtc
  ExecStop=/bin/kill -SIGTERM $MAINPID
  Type=idle
  KillMode=process
  Restart=on-failure
  RestartSec=5s

  SyslogIdentifier=gomtc
  SyslogFacility=daemon
  User=proxy
  Group=proxy
 
[Install]
  WantedBy=multiuser.target
