{{ define "dayDetail" }} {{ template "header" }}
<header>
    <h1>{{.Header}}</h1>
    <form action="/" method="get" id="report">
        <label for="date_from">Дата: </label>
        <input type="date" id="date_from" name="date_from" value="{{.DateFrom}}" />
        <input type="submit" value="Загрузить" />
    </form>
    {{$s:= (index .ArrayDisplay 0)}}
    <span>Пользователей превысивших среднее значение трафика по 90 перцентилю ({{$s.Average}} Mb): {{$s.Count}} - отмечены другим фоном</span>
    <span>Страница сгененрирована за: {{.TimeToGenerate}} </span>
</header>
<hr>
<div class="body_report">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Пользователь</th>
                <th>hostname</th>
                <!-- <th>Сумма</th>
                <th>Ср.</th> -->
                <th>Байт</th>
                <th>%</th>
                <th>00</th>
                <th>01</th>
                <th>02</th>
                <th>03</th>
                <th>04</th>
                <th>05</th>
                <th>06</th>
                <th>07</th>
                <th>08</th>
                <th>09</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody>
            {{range $k, $v := .ArrayDisplay}}
            <tr>
                <th>{{$k}}</th>
                <th {{if and (le $s.Average $v.Size) (ne $k 0)}} style="background-color: rgb(252, 210, 186);" {{else}} {{end}}><a href="/info#alias?type=alias&entity={{$v.Alias}}" target="_blank">{{$v.Alias}}</a></th>
                <!-- <th><a href="/edit#login?type=login&entity={{$v.Login}}" target="_blank">{{$v.Login}}</a></th>
                <th><a href="/edit#ip?type=ip&entity={{$v.IP}}" target="_blank">{{$v.IP}}</a></th> -->
                <th>{{$v.Hostname}}</th>
                <!-- <th>{{$v.SizeOfPrecentil}}</th> -->
                <!-- <th>{{$v.Average}} Mb</th> -->
                <th>
                    <a href="/edit#quota?type=quota&entity={{$v.Alias}}" target="_blank">{{$v.Size}} Mb</a></th>
                <th>{{$v.Precent}} %</th>
                {{range $value := $v.HourSize}}
                <th>{{$value}}</th>
                {{end}}
                <th>{{$v.Comments}}</th>
            </tr>
            {{end}}
        </tbody>

    </table>
</div>
{{ template "footer" }} {{ end }}