{{ define "editalias" }} {{ template "header" }}
<header>
    <h1>{{.Header}}</h1>
</header>

<body>
    <form class="edit_alias" id="edit_device" action="/editalias/" method="post">
        <div class="info_of_device">
            <h3>Информация об устройстве</h3>
            Алиас: {{.InfoName}}
            <input type="text" name="alias" title="Алиас" value="{{.InfoName}}" hidden>
            <div class="TypeD">
                Тип устройства
                <input type="radio" name="TypeD" value="tel" {{if eq .TypeD "tel" }} checked="checked" {{end}}> Телефон
                <input type="radio" name="TypeD" value="nb" {{if eq .TypeD "nb" }} checked="checked" {{end}}> Ноутбук
                <input type="radio" name="TypeD" value="ws" {{if eq .TypeD "ws" }} checked="checked" {{end}}> Рабочая станция
                <input type="radio" name="TypeD" value="ap" {{if eq .TypeD "ap" }} checked="checked" {{end}}> Точка доступа
                <input type="radio" name="TypeD" value="srv" {{if eq .TypeD "srv" }} checked="checked" {{end}}> Сервер
                <input type="radio" name="TypeD" value="prn" {{if eq .TypeD "prn" }} checked="checked" {{end}}> Принтер
                <input type="radio" name="TypeD" value="ap" {{if eq .TypeD "ap" }} checked="checked" {{end}}> Точка доступа
                <input type="radio" name="TypeD" value="other" {{if or (eq .TypeD "other") (eq .TypeD "") }} checked="checked" {{end}}> Другое
            </div>
            <p> IP Адрес: {{.ActiveAddress}} </p>
            <p> Мак-Адрес: {{.ActiveMacAddress}} </p>
            <p> Имя устройства: {{.HostName}} </p>
            <p> Группы: {{.AddressLists}} </p>
            <p>
                <span> Отключен: <input type="checkbox" name="disabled" value="yes" 
                    {{if .Disabled}} checked="checked" {{end}}></span>
                <span>Заблокирован: <input type="checkbox" name="blocked" value="yes" 
                    {{if .DeviceType.Blocked}} checked="checked" {{end}}></span>
                <span>Должен быть заблокирован:<input type="checkbox" name="shouldbeblocked" value="yes" 
                    {{if .DeviceType.ShouldBeBlocked}} checked="checked" {{end}}></span>
                <span>Управление вручную: <input type="checkbox" name="manual" value="yes" 
                    {{if .Manual}} checked="checked" {{end}}></span>
            </p>
        </div>
        <div class="user">
            <br>
            <h3>Информация о пользователе</h3>
            <p> Имя: <input type="text" name="name" id="name" title="Имя" placeholder="Имя" value="{{.Name}}"></p>
            <p>ID: <input type="text" name="IDUser" id="IDUser" title="ID" placeholder="ID" value="{{.IDUser}}"></p>
            <p>Должность: <input type="text" name="col" id="col" title="Должность" placeholder="Должность" value="{{.Position}}"></p>
            <p>Компания: <input type=" text " name="com" id="com" title="Компания " placeholder="Компания " value="{{.Company}}"></p>
            <p>Комментарий: <input type="text" name="comment" id="comment" title="Комментарий" placeholder="Комментарий" value="{{.PersonType.Comment}}"></p>
            <p>Комментарии полностью: {{.PersonType.Comments}}</p>
        </div>
        <div class=" quota ">
            <br>
            <h3>Информация о квоте</h3>
            <p> Квота часовая <input type="text " name="quotahourly" id="quotahourly" title="Квота часовая" placeholder="Квота часовая" value="{{.HourlyQuota}}">{{ FormatSize .HourlyQuota .SizeOneKilobyte}}</p>
            <p> Квота дневная <input type="text " name="quotadaily" id="quotadaily" title="Квота дневная" placeholder="Квота дневная " value="{{.DailyQuota}}">{{ FormatSize .DailyQuota .SizeOneKilobyte}}</p>
            <p> Квота месячная <input type="text " name="quotamonthly" id="quotamonthly" title="Квота месячная" placeholder="Квота месячная" value="{{.MonthlyQuota}}">{{ FormatSize .MonthlyQuota .SizeOneKilobyte}}</p>
        </div>
        <br>
        <button type="submit">Сохранить</button>
        <!-- <button type="reset ">Сбросить</button> -->
        <!-- <button type="button">Отмена</button> -->
        <input type="button" onclick="history.back();" value="Отмена" />
    </form>
</body>

{{template "footer"}} {{ end }}