{{ define "editalias" }} {{ template "header" }}
<header>
    <h1>{{.Header}}</h1>
</header>

<body>
    <form action="" method="get">
        <div class="info_of_device">
            <h3>Информация об устройстве</h3>
            <!-- Алиас <input type="text" name="Alias" id="alias" title="Алиас" placeholder="Алиас" value="{{.Alias}}" disabled> -->
            Алиас: {{.Alias}}
            <div class="TypeD">
                Тип устройства
                <input type="radio" name="TypeD" value="tel"> Телефон
                <input type="radio" name="TypeD" value="nb"> Ноутбук
                <input type="radio" name="TypeD" value="ws"> Рабочая станция
                <input type="radio" name="TypeD" value="ap"> Точка доступа
                <input type="radio" name="TypeD" value="srv"> Сервер
                <input type="radio" name="TypeD" value="prn"> Принтер
                <input type="radio" name="TypeD" value="other"> Другое
            </div>
            <p> IP Адрес: {{.IP}} </p>
            <p> Мак-Адрес: {{.Mac}} </p>
            <p> Имя устройства: {{.HostName}} </p>
            <p> Группы: {{.Groups}} </p>
            <p> Отключен: <input type="checkbox" name="disabled" id="disabled" value="{{.Blocked}}" disabled></p>
            <!-- <br> Адрес <input type="text" name="active-address" id="active-address" title="Адрес" placeholder="Адрес" value="{{.IP}}" disabled> -->
            <!-- <br> Мак-Адрес <input type="text" name="active-mac-address" id="active-address" title="Мак-Адрес" placeholder="Мак-Адрес" value="{{.Mac}}" disabled> -->
            <!-- <br> Имя устройства <input type="text" name="HostName" id="host-name" title="HostName" placeholder="Имя устройства" value="{{.HostName}}" disabled> -->
            <!-- <br> Группы <input type="text" name="AddressLists" id="address-lists" title="AddressLists" placeholder="Группы" value="{{.Groups}}" disabled> -->
        </div>
        <div class="user">
            <br>
            <h3>Информация о пользователе</h3>
            <p> Имя: <input type="text" name="name" id="name" title="Имя" placeholder="Имя" value="{{.Name}}"></p>
            <p>Должность: <input type="text" name="col" id="col" title="Должность" placeholder="Должность" value="{{.Position}}"></p>
            <p>Компания: <input type=" text " name="com " id="com " title="Компания " placeholder="Компания " value="{{.Company}}"></p>
            <p>Комментарий:
                <input type="text" name="comment" id="comment" title="Комментарий" placeholder="Комментарий" value="{{.Comments}}"></p>
        </div>
        <div class=" quota ">
            <br>
            <h3>Информация о квоте</h3>
            <p> Квота часовая <input type="text " name="quotahourly " id="quotahourly " title="Квота часовая " placeholder="Квота часовая" value="{{.HourlyQuota}}"></p>
            <p> Квота дневная <input type="text " name="quotadaily " id="quotadaily " title="Квота дневная " placeholder="Квота дневная " value="{{.DailyQuota}}"></p>
            <p> Квота месячная <input type="text " name="quotamonthly " id="quotamonthly " title="Квота месячная " placeholder="Квота месячная " value="{{.MonthlyQuota}}"></p>
        </div>
        <br>
        <button type="submit">Сохранить</button>
        <!-- <button type="reset ">Сбросить</button> -->
        <!-- <button type="button">Отмена</button> -->
        <input type="button" onclick="history.back();" value="Отмена" />
    </form>
</body>

{{template "footer"}} {{ end }}