{{ define "flow" }} {{ template "header" }}
<div class="body_report">
    <div>
        {{.TitleReport}}
    </div>
    <br>
    <div>
        <form action="/flow" method="get" id="report">
            <label for="date_from">Начальная дата: </label>
            <input type="date" id="date_from" name="date_from" value="{{.DateFrom}}" />
            <label for="date_to">Конечная дата: </label>
            <input type="date" id="date_to" name="date_to" value="{{.DateTo}}" />
            <input id="requset" type="hidden" value="true" />
            <input type="submit" text="Отправить" />
        </form>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Пользователь</th>
                <th>Логин</th>
                <th>IP-адрес</th>
                <th>Объём в Мб</th>
                <th>00</th>
                <th>01</th>
                <th>02</th>
                <th>03</th>
                <th>04</th>
                <th>05</th>
                <th>06</th>
                <th>07</th>
                <th>08</th>
                <th>09</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
            </tr>
        </thead>
        <tbody>
            {{range $k, $v := .ArrayDysplay}}
            <tr>
                <th>a{{$k}}</th>
                <th><a href="/edit#alias?type=alias&entity={{$v.Alias}}" target="_blank">{{$v.Alias}}</a></th>
                <th><a href="/edit#login?type=login&entity={{$v.Login}}" target="_blank">{{$v.Login}}</a></th>
                <th><a href="/edit#ip?type=ip&entity={{$v.IP}}" target="_blank">{{$v.IP}}</a></th>
                <th>
                    <a href="/edit#quota?type=quota&entity={{$v.Alias}}" target="_blank">{{$v.Size}}</a></th>
                {{range $value := $v.HourSize}}
                <th>{{$value}}</th>
                {{end}}
            </tr>
            {{end}}
        </tbody>

    </table>
</div>
{{ template "footer" }} {{ end }}