{{ define "index" }} {{ template "header" }}
<header>
    <h2>{{.Header}}</h2>
    <form action="/" method="get" id="report">
        <label for="date_from">Дата: </label>
        <input type="date" id="date_from" name="date_from" value="{{.DateFrom}}" />
        <input type="submit" value="Загрузить" />
    </form>
</header>
<div class="postheader">
    {{$s:= (index .ArrayDisplay 0)}}
    <span>Пользователей превысивших среднее значение трафика по 90 перцентилю ({{ FormatSize $s.Average $.SizeOneKilobyte}}): {{$s.Count}} - отмечены другим фоном</span>
    <span>Пользователей превысивших часовую({{ FormatSize $.HourlyQuota $.SizeOneKilobyte}}) или дневную квоту({{ FormatSize $.DailyQuota $.SizeOneKilobyte}}) - в поле объёма трафика отмечены другим фоном</span>
    <span>Страница сгененрирована за: {{.TimeToGenerate}} </span>
    <span>Последнее обновление: {{.LastUpdated}} Последнее обновление MT: {{.LastUpdatedMT}} </span>
</div>
<hr>
<div class="body_report">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Пользователь</th>
                <th>Имя устройства</th>
                <th>Имя</th>
                <th>Комментарий</th>
                <th>Байт</th>
                <th>%</th>
                <th>00</th>
                <th>01</th>
                <th>02</th>
                <th>03</th>
                <th>04</th>
                <th>05</th>
                <th>06</th>
                <th>07</th>
                <th>08</th>
                <th>09</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
            </tr>
        </thead>
        <tbody>
            {{range $k, $v := .ArrayDisplay}}
			<tr>
				<th>{{$k}}</th>
				<th
					{{if and (le $s.Average $v.VolumePerDay) (ne $k 0)}}
						style="background-color: rgb(252, 210, 186);"
					{{end}}
				><a href="/editalias?alias={{$v.Alias}}" title="Редактировать пользователя">
					{{$v.Alias}}</a>
				</th>
				<th{{if $v.DeviceType.Blocked}} style="background-color: rgb(252, 210, 186);" {{end}}>
					{{$v.HostName}}</th>
					<th>{{$v.Name}}</th>
					<th>{{$v.DeviceType.Comment}}</th>
					<th {{if $v.DeviceType.ShouldBeBlocked}} style="background-color: rgb(248, 74, 74);" {{end}}
							{{if and (le $.SizeOneGigabyte $v.VolumePerDay) (ne $k 0)}}
								style="color: rgb(179, 8, 185);"
							{{else if and (ge $.SizeOneKilobyte $v.VolumePerDay) (ne $k 0)}}
								style="color: #12c470;"
						{{else if and (ge $.SizeOneMegabyte $v.VolumePerDay) (ne $k 0)}}
							style="color: rgb(77, 182, 245);"
						{{end}}>
					{{ FormatSize $v.VolumePerDay $.SizeOneKilobyte}}</th>
					<th>{{$v.Precent}}.%</th>
					{{range $value := $v.StatPerHour}}
						<th
							{{if and (le $.HourlyQuota $value.PerHour) (ne $k 0)}}
								style="background-color: rgb(252, 210, 186);"
							{{end}}
							{{if and (le $.SizeOneGigabyte $value.PerHour) (ne $k 0)}}
								style="color: rgb(179, 8, 185);"
							{{else if and (ge $.SizeOneKilobyte $value.PerHour) (ne $k 0)}}
								style="color: #12c470"
							{{else if and (ge $.SizeOneMegabyte $value.PerHour) (ne $k 0)}}
								style="color: rgb(77, 182, 245);"
							{{end}}
						>{{ FormatSize $value.PerHour $.SizeOneKilobyte}}</th>
					{{end}}
			</tr>
            {{else}}
            <h2>Данные или отсуствую или еще загружаются.</h2>
            {{end}}
        </tbody>

    </table>
</div>
{{ template "footer" }} {{ end }}